div.register{
    background-size: cover;
    width: 100%;
    height: 100vh;
    object-fit: fill;
    height: 100vh;
    display: grid;
    place-items: center;
}

h2.title{
    font-family:"sans-serif";
    font-size:"1.5rem";
    text-align:"center";
    margin-bottom:"0.9rem";
}
div.input_fields{
    border: 1px solid #dedede;
    padding: 3rem;
}

div.input_fields input{
    height: 2.3rem;
    border: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
    outline: none;
}

div.input_fields input{
    width: 100%;
    border-radius: 0.5rem;
    height: 3rem;
    border: 1px solid orange;
    outline: none;
    font-weight: bold;
    
}

div.input_fields label{
    margin: 0;
}

div.input_fields input:hover{
    border: 1px solid orange;
}

div.input_fields input:focus{
    border: 2px solid orange;
}